{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            

            {{ form_start(form) }}

                <div class="form-group">
                    <label>Prénom</label>
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    <label>Nom</label>
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    <label>Email</label>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    <label>Mot de passe </label>
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    <label> Confirmer le Mot de passe</label>
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <button class="btn">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}