<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <a class="navbar-brand" href="{{ path('home') }}">Acceuil</a>
  <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Inscription <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}"> Publier</a>
      </li>
      
        <li class="nav-item">
          <a class="nav-link" href="{{ path('home') }}"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('home') }}">Gestion des utilisateurs</a>
        </li>
    </ul>
    <ul class="navbar-nav mr-0">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>